@import url(./table.css);
#content {
    flex: 1;
    margin: 16px 24px;
}

.content-header {
    font-family: CTM-web-bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.content-body {
    background-color: #fff;
    width: 100%;
    height: calc(100% - 44px - 8px);
    position: relative;
}