@import url(./component/icon.css);
@import url(./page/layout.css);
@import url(../assets/icon/fontawesome-free-6.2.1-web/css/all.min.css);
* {
    margin: 0;
    font-size: 13px;
    font-family: CTM-web;
}

:root {
    --menu-width: 200px;
}

@font-face {
    font-family: CTM-web;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: CTM-web-bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #9E9E9E; 
    border-radius: 4px;
  }