.m-Btn {
    height: 36px;
    min-width: 80px;
    padding: 0px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: #50B83C;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.m-Btn:hover {
    background-color: #2FBE8E;
}

.m-Btn:active {
    background-color: #01B075;
}

.m-Btn-Icon {
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
    padding-left: 40px;
    padding-right: 16px;
}

.m-Btn-Icon-Add {
    background-image: url(../../assets/icon/add.png);
}

.button {
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}